.pagination-button {
    display: flex;
    justify-content: center;
}

.page-link {
    text-decoration: none;
    color: black !important;
}

.new-post > p {
    text-align: left;
}

.tags {
    display: flex;
    flex-wrap: wrap;
}

.new-post-button {
    display: flex;
    justify-content: flex-end;
}
